.header {
  background-color: var(--background-header);
  padding: var(--sp-4) 0;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 543px) {
      flex-direction: column;

      > .button {
        margin-top: var(--sp-4);
      }
    }
  }

  &_logo {
    width: 12.5rem;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
