// 1
.barrel_stabilizer_0,
.barrel_stabilizer_1,
.standard_stock_0,
.standard_stock_1,
.extended_energy_mag_0,
.extended_energy_mag_1,
.optic_0,
.optic_1x_holo,
.optic_1x_hcog,
.body_shield_1,
.evo_shield_1,
.helmet_1,
.backpack_1 {
  background-image: linear-gradient(351deg, var(--color-1-dark), var(--color-1));
}

// 2
.barrel_stabilizer_2,
.standard_stock_2,
.extended_energy_mag_2,
.optic_2x_hcog,
.optic_1x2x_holo,
.body_shield_2,
.evo_shield_2,
.helmet_2,
.backpack_2 {
  background-image: linear-gradient(351deg, var(--color-2-dark), var(--color-2));
}

// 3
.barrel_stabilizer_3,
.standard_stock_3,
.extended_energy_mag_3,
.optic_3x_hcog,
.optic_2x4x_aog,
.body_shield_3,
.evo_shield_3,
.helmet_3,
.backpack_3 {
  background-image: linear-gradient(351deg, var(--color-3-dark), var(--color-3));
}

// 4
.hopup_0,
.hopup_turbocharger,
.extended_energy_mag_4,
.body_shield_4,
.helmet_4,
.backpack_4 {
  background-image: linear-gradient(351deg, var(--color-4-dark), var(--color-4));
}

.evo_shield_5 {
  background-image: linear-gradient(351deg, var(--color-5-dark), var(--color-5));
}
