:root {
  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 12px;
  --sp-4: 16px;
  --sp-5: 20px;
  --sp-6: 24px;
  --sp-7: 32px;
  --sp-8: 40px;
  --sp-9: 48px;
  --sp-10: 64px;
  --background-body: #e4e1d8;
  --background-foooter: #252525;
  --color-foooter: #a3a3a3;
  --background-header: #000;
  --container-width: 150rem;

  --color-1: #a8a8a8;
  --color-1-dark: #757575;
  --color-2: #51a8d6;
  --color-2-dark: #3a7da0;
  --color-3: #b237c8;
  --color-3-dark: #872598;
  --color-4: #cead21;
  --color-4-dark: #826d14;
  --color-5: #ff4e1d;
  --color-5-dark: #8c280c;

  --color-energy: #d8ec97;
  --color-energy-dark: #8c9a5e;
  --color-heavy: #b2ded4;
  --color-heavy-dark: #5f9085;
  --color-light: #ffe0b2;
  --color-light-dark: #a08154;
  --color-heirloom: #ffb2cd;
  --color-heirloom-dark: #794040;
  --color-sniper: #b2b3ff;
  --color-sniper-dark: #5d5ea7;
  --color-shotgun: #ffb2b2;
  --color-shotgun-dark: #8e5353;

  --button-github: #da292a;
  --button-github-hover: #88191a;

  --button-submit: #252525;
  --button-submit-hover: #464646;
}

.backgroundColor {
  &_energy {
    background-image: linear-gradient(351deg, var(--color-energy-dark), var(--color-energy));
  }

  &_heavy {
    background-image: linear-gradient(351deg, var(--color-heavy-dark), var(--color-heavy));
  }

  &_light {
    background-image: linear-gradient(351deg, var(--color-light-dark), var(--color-light));
  }

  &_heirloom {
    background-image: linear-gradient(351deg, var(--color-heirloom-dark), var(--color-heirloom));
  }

  &_sniper {
    background-image: linear-gradient(351deg, var(--color-sniper-dark), var(--color-sniper));
  }

  &_shotgun {
    background-image: linear-gradient(351deg, var(--color-shotgun-dark), var(--color-shotgun));
  }
}
